$smartphone: 480px;
$tablet: 800px;
$desktop: 1024px;

@mixin style($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
}


#view-section {
    width: 100%;

    .Home-body {
        width: 100%;

        #container-products {
            padding: 3px 20px 3px 20px; 
            align-items: center;

            @include style(100%, auto, 0);

            li{
                display: -webkit-inline-box;
                margin-right: 7px;
            }

            #ItemProduct {
                display: flex; 
                justify-content: center;
                flex-direction: column;
                align-items: center;

                @include style(150px, 288px, 2px 15px 2px 15px);
            
                img {
                   display: flex;
                   justify-content: center;
 
                   @include style(300px, 300px, 5px);
                 
                   @media (max-width: $smartphone) {
                       width: 150px;
                       height: 150px;
                    }
                   @media (min-width: $smartphone) and (max-width: $tablet) {
                       width: 45%;
                       height: 65px;
                    }
                   @media (min-width: $tablet) and (max-width: $desktop) {
                       width: 50%;
                       height: 75px;
                    }
                    @media (min-width: $desktop) {
                       width: 55%;
                       height: 75px;
                    }
                }
    
                #section-price{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;

                    p {
                        font-family: Open Sans;
                        font-size: 12px;
                        line-height: 16px;
                        color: #000000; 
                        margin: 5px;
                    }

                    #price {
                        font-weight: 0;
                        text-decoration-line: line-through;
                    }

                    #priceFinal {
                        font-weight: 600px;
                    }
                }

                h6 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 22px;         
                }
            
                button {
                   display: flex;
                   justify-content: center;
                   border: 1px solid #000000;
                   box-sizing: border-box;
                   color: #000000;

                   @include style(150px, 31px, auto);
                }
            }         
        }   
    }
}
