header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: space-around;
}
header section .buttonBrand {
  background: #6D308F;
  border-color: #752c9c;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  header section .buttonBrand {
    width: 40%;
    height: 50px;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  header section .buttonBrand {
    width: 45%;
    height: 65px;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  header section .buttonBrand {
    width: 50%;
    height: 75px;
  }
}
@media (min-width: 1024px) {
  header section .buttonBrand {
    width: 55%;
    height: 75px;
  }
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header nav .imgLogo {
  width: 32px;
}

.item-order-container {
  display: flex;
  max-width: 100vw;
  padding: 0 1rem 2rem;
}
@media only screen and (min-width: 600px) {
  .item-order-container {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .item-order-container {
    padding: 0 2rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .item-order-container {
    width: 33%;
  }
}
.item-order-container .img {
  width: 30%;
}
.item-order-container .description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item-order-container .description .name {
  align-self: center;
  margin: 15px 0 15px 0;
  text-align: center;
}
.item-order-container .description .btn-container {
  border: none;
  padding: none;
  background-color: transparent;
}
.item-order-container .description .btn-container .btn-qty {
  cursor: pointer;
  width: 2.5rem;
}
.item-order-container .description .count {
  font-size: 1rem;
  margin: 15px 15px;
}
.item-order-container .description .delete-price {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.item-order-container .description .btn-delete {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.container-baner .image-banner {
  display: flex;
}
.container-baner .image-banner .icon-baner {
  justify-content: center;
  width: 100%;
}
.container-baner .container-baners .card-body {
  background-color: #7AC4A7;
}
.container-baner .container-baners .card-body .container-image {
  width: 40%;
}
.container-baner .container-baners .card-body .container-image img {
  border-radius: 50%;
}
.container-baner .container-baners .card-body .description {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (min-width: 600px) {
  .container-baner .container-baners .card-body {
    text-align: center;
  }
}

footer {
  background-color: #BBC1C8;
}
footer .body-input input {
  border-radius: 5px;
  border: 1px solid #4f0558;
}
footer .button-header button {
  border-radius: 10px;
  background-color: #4f0558;
  color: #f1f5fa;
}
footer .logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer .logo-footer img {
  width: 10%;
  height: 20%;
}
footer .logo-footer .footer-letters {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.orders-container .reception {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-around;
}
.orders-container .reception p {
  width: 100%;
}
.orders-container .reception .type {
  font-size: 0.85rem;
  cursor: pointer;
}
.orders-container .reception .type img {
  margin-right: 0.5rem;
}
.orders-container hr {
  margin: 0;
}
.orders-container .btn-send {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
}
.orders-container .btn-send img {
  margin: 1rem 1rem 1rem 0;
  width: 1.7rem;
}
.orders-container .subtotal {
  display: flex;
  justify-content: space-between;
}
.orders-container .subtotal span {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .orders-container .subtotal {
    justify-content: center;
  }
}
.orders-container .btn-buy-group {
  display: flex;
}
.orders-container .btn-buy-group .btn-buy {
  border: none;
  width: 50%;
  padding: 1rem;
  background-color: #1ACAA4;
}
.orders-container .btn-buy-group .first {
  border-right: 1px solid #000000;
}
@media only screen and (min-width: 992px) {
  .orders-container .btn-buy-group {
    justify-content: center;
  }
  .orders-container .btn-buy-group .btn-buy {
    width: 30%;
  }
}
@media only screen and (min-width: 600px) {
  .orders-container .orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .orders-container .reception p {
    margin-left: 10%;
  }
}

.shop-cart-container .title-container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
}
.shop-cart-container .title-container img {
  padding-right: 2rem;
  cursor: pointer;
}
.shop-cart-container .title-container .title {
  font-size: 1.3rem;
  margin: 1rem 0;
}
@media only screen and (min-width: 600px) {
  .shop-cart-container .title-container {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 992px) {
  .shop-cart-container {
    justify-content: center;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}
.login-container h3 {
  margin: 1rem 0 3rem;
  text-align: center;
}
.login-container .btn-login {
  background-color: #1ACAA4;
}
.login-container .btn-google {
  background-color: #E64F4F;
  color: #ffffff;
  margin-bottom: 1rem;
}
.login-container .btn-fb {
  background-color: #2F52CF;
  color: #ffffff;
}
.login-container .text-center {
  text-align: center;
  margin: 1rem;
}
.login-container .font {
  font-weight: 500;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .font span {
  margin: auto;
}
.login-container .font .icon {
  width: 1.2rem;
}
@media only screen and (min-width: 600px) {
  .login-container {
    padding: 10% 20%;
  }
}
@media only screen and (min-width: 992px) {
  .login-container {
    padding: 3% 32%;
  }
}
@media only screen and (min-width: 1200px) {
  .login-container {
    padding: 3% 38%;
  }
}

h1 {
  color: green;
}

/*# sourceMappingURL=styles.css.map */
