header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: space-around;
}
header section .buttonBrand {
  background: #6D308F;
  border-color: #752c9c;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  header section .buttonBrand {
    width: 40%;
    height: 50px;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  header section .buttonBrand {
    width: 45%;
    height: 65px;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  header section .buttonBrand {
    width: 50%;
    height: 75px;
  }
}
@media (min-width: 1024px) {
  header section .buttonBrand {
    width: 55%;
    height: 75px;
  }
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header nav a {
  cursor: pointer;
}
header nav a .imgLogoCabeza {
  width: 50px;
  height: 50px;
}
header nav a .imgLogoLetra {
  width: 90px;
  height: 50px;
}
header nav ul li {
  cursor: pointer;
}
header nav .divSearch {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  width: 100%;
}
header nav .divSearch img {
  position: absolute;
  right: 0;
  /* margin: 10px; */
  padding-right: 5%;
  color: #c882eb;
  cursor: pointer;
}
@media (max-width: 480px) {
  header nav .divSearch img {
    right: 0;
    padding-right: 4%;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  header nav .divSearch img {
    right: 0;
    padding-right: 7%;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  header nav .divSearch img {
    right: 0;
    padding-right: 9%;
  }
}
@media (min-width: 1024px) {
  header nav .divSearch img {
    right: 0;
    padding-right: 10%;
  }
}
header nav .divSearch input {
  right: 0;
  display: flex;
  /*     margin: 2px;  */
  /* padding-left: 3px; */
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 480px) {
  header nav .divSearch input {
    width: 100%;
    right: 0;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  header nav .divSearch input {
    width: 100%;
    right: 0;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  header nav .divSearch input {
    left: 100px;
    width: 800px;
    right: 0;
    padding-left: 100px;
  }
}
@media (min-width: 1024px) {
  header nav .divSearch input {
    right: 0;
  }
}

.item-order-container {
  display: flex;
  max-width: 100vw;
  margin: 10px;
}
.item-order-container .img {
  width: 30%;
}
.item-order-container .description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item-order-container .description .name {
  align-self: center;
  margin: 15px 0 15px 0;
}
.item-order-container .description p {
  margin: 15px 30px 15px 30px;
}
.item-order-container .description .btn-qty {
  cursor: pointer;
  width: 2.5rem;
}
.item-order-container .description .delete-price {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.item-order-container .description .btn-delete {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.orders-container hr {
  margin: 0;
}
.orders-container .btn-send {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
}
.orders-container .btn-send img {
  margin: 1rem 1rem 1rem 0;
  width: 1.7rem;
}
.orders-container .subtotal {
  display: flex;
  justify-content: space-between;
}
.orders-container .subtotal span {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.orders-container .btn-buy {
  border: none;
  width: 100%;
  padding: 1rem;
}

.shop-cart-container .title-container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
}
.shop-cart-container .title-container .title {
  font-size: 1.3rem;
  margin: 1rem 2rem;
}

#view-section {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#view-section .home-body #itemProduct {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#view-section .home-body #itemProduct img {
  display: flex;
  justify-content: center;
  width: 50%;
}
#view-section .home-body #itemProduct button {
  display: flex;
  justify-content: center;
  border: 3px solid #000000;
}

.root {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.root .app {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

/*# sourceMappingURL=styles.css.map */
